<STYLE type="text/css">

Sacrifice	{background-color:#222222;}
body		{background-color:#f8f0f0;
		}
		
P		{color : #000066;
		font-size : 14pt;
		font-family : Verdana;
		}

a		{text-decoration: underline ;
		font-size : 14pt;
		font-family : Verdana;
		color: #000000;}

li		{color: #000000;
		font-size : 14pt;
		font-family : Verdana;
		}

strike		{font-size: 12pt;
		color: #609860;
		}

div.legal	{font-size: 9pt; 
		color: bf9898;
		}


</style>